<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
</head>
<body>
<div>
<!-- Main Footer 푸터 인클루드 속성 지정 -->
<footer class="main-footer" th:fragment="fragment-footer">
	
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
	
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

</body>
</footer>
