<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header"></head> <!-- 헤더 인클루드 -->

<body class="hold-transition layout-top-nav">
	<div class="wrapper">

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				
			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid" style="margin-bottom: 30px;">
				    <h2 class="text-center display-5">게시판</h2>
				    <div class="row">
				        <div class="col-md-8 offset-md-2">
				            <form name="searchFrm">
								<input type="hidden" name="pageIndex">
								<input type="hidden" name="pageSize">
								<div class="card">
		                            <div class="card-body">
		                                <div class="row">
		                                    <div class="col-md-8 offset-md-2">
		                                        <div class="input-group">
		                                            <div class="input-group-prepend">
		                                                <select id="searchCate" name="searchCate" class="form-control select2">
		                                                    <option value="" selected="selected">전체</option>
		                                                    <option value="T">제목</option>
		                                                    <option value="C">내용</option>
		                                                    <option value="A">제목+내용</option>
		                                                </select>
		                                            </div>
		                                            <input type="search" name="keyword" class="form-control" placeholder="검색어를 입력하세요.">
		                                            <button type="button" onclick="search();" class="btn btn-md btn-default">
		                                                <i class="fa fa-search"></i>
		                                            </button>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
				            </form>
				        </div>
				    </div>
				</div>
							
				<div class="card">
					<div class="card-body">
						<div id="jsGridBody"></div>
					</div>
					
					<div class="card-footer" style="background-color: white;">
						<button type="button" class="btn btn-primary float-right" onclick="writeButton()">글 작성</button>
					</div>
				</div>
				
			</section>
			<!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->

	<script>
		var setFields = [
		    {name: "boardNo", title:"No.", width: "auto", align: "center"}
		    , {name: "title", title:"제목", width: "auto", align: "center"
			, itemTemplate: function(_, item) {
                return '<a href="javascript:;" onclick="detail(\'' + item.boadNo + '\')">' + item.title + '</a>';}
			}
			, {name: "viewCnt", title:"조회수" , width: "auto", align: "center"}
		    , {name: "memberId", title:"작성자" , width: "auto", align: "center"}
			, {name: "regDate", title:"작성일자" , width: "auto", align: "center"
			, itemTemplate: function(_, item) {
            		return moment(item.regDate).format('YYYY-MM-DD HH:mm:ss');}
			}
		];

		const jsGridBody = $("#jsGridBody");
		$(function () {
		    jsGridBody.jsGrid({
		        width: "100%"
		        , autoload: true
		        , noDataContent: "데이터가 없습니다."
		        , paging: true
		        , pageLoading: true
		        , pageIndex: 1
		        , pageSize: 10
		        , pageButtonCount: 10
		        , pagerFormat: "{first} {prev} {pages} {next} {last}"
		        , pagePrevText: "이전"
		        , pageNextText: "다음"
		        , pageFirstText: "처음"
		        , pageLastText: "끝"
		        , controller: {
		            loadData: function (filter) {
		                var frm = $("form[name=searchFrm]");
		                var listJsonUrl = "/api/board/list";
		                frm.find("[name=pageIndex]").val(filter.pageIndex);
		                frm.find("[name=pageSize]").val(filter.pageSize);
						//console.log(frm.serialize())
		                return $.getJSON(listJsonUrl, frm.serialize(), function(data) {
							//console.log(data)
							jsGridBody.data("itemsCount", data.totalCount);
		                });
		            },
		        }
		        , fields: setFields
		    });
		});
		
		function search() {
		   jsGridBody.jsGrid("loadData");
		}
	</script>
</body>
<!-- 푸터 인클루드 -->
<footer th:replace="common/footer"></footer>

</html>