<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header"></head> <!-- 헤더 인클루드 -->

<body class="hold-transition layout-top-nav">
	<div class="wrapper">

		<div class="content-wrapper">
		    <!-- Content Header (Page header) -->
		    <section class="content-header">
		    </section>

		    <!-- Main content -->
		    <section class="content">
		        <div class="container-fluid">
					
		            <div class="row justify-content-center">
		                <div class="col-md-10">
		                    <div class="card card-secondary">
		                        
		                        <form id="writeFrm" name="writeFrm">
		                            <input type="hidden" name="memberId" th:value="${memberId}">
		                            <input type="hidden" name="memberNo" th:value="${memberNo}">
		                            
		                            <!-- /.card-header -->
		                            <div class="card-body">
		                                <div class="form-group row">
		                                    <label for="title" class="col-sm-2 col-form-label">제목</label>
		                                    <div class="col-sm-10">
		                                        <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
		                                    </div>
		                                </div>
		                                <div class="form-group row">
		                                    <label class="col-sm-2 col-form-label">작성자</label>
		                                    <div class="col-sm-10">
		                                        <input type="text" class="form-control" th:value="${memberId}" readonly>
		                                    </div>
		                                </div>
		                                <textarea id="editor" name="content"></textarea>
		                            </div>
		                        
		                            <div class="card-footer" style="background-color: white;">
		                                <button type="button" class="btn btn-outline-dark float-left" onclick="cancle();">취소</button>
		                                <button type="button" class="btn btn-outline-primary float-right" onclick="saveBoard();">등록</button>
		                            </div>
		                        </form>
		                    </div>
		                </div>
		            </div>
		            <!-- /.col-->
		        </div>
		        <!-- /.container-fluid -->
		    </section>
		    <!-- /.content -->
		</div>

	</div>
	<!-- ./wrapper -->

	<script>
		$(function () {
		    $('#editor').summernote({
		        codeviewFilter: false, // 코드 보기 필터 비활성화
		        codeviewIframeFilter: false, // 코드 보기 iframe 필터 비활성화

		        height: 500, // 에디터 높이
		        minHeight: null, // 최소 높이
		        maxHeight: null, // 최대 높이
		        focus: true, // 에디터 로딩 후 포커스 설정
		        lang: 'ko-KR', // 언어 설정 (한국어)

		        toolbar: [
		            ['style', ['style']], //글자 스타일 설정 옵션
		            ['fontsize', ['fontsize']], //글꼴 크기 설정 옵션
		            ['font', ['bold', 'underline', 'clear']], //글자 굵게, 밑줄, 포맷 제거 옵션
		            ['color', ['color']], //글자 색상 설정 옵션
		            ['table', ['table']], //테이블 삽입 옵션
		            ['para', ['ul', 'ol', 'paragraph']], //문단 스타일, 순서 없는 목록, 순서 있는 목록 옵션
		            ['height', ['height']], //에디터 높이 조절 옵션
		            ['insert', ['picture', 'link', 'video']], //이미지 삽입, 링크 삽입, 동영상 삽입 옵션
		            ['view', ['codeview', 'fullscreen', 'help']], //코드 보기, 전체 화면, 도움말 옵션
		        ],

		        fontSizes: [
		            '8', '9', '10', '11', '12', '14', '16', '18',
		            '20', '22', '24', '28', '30', '36', '50', '72',
		        ], //글꼴 크기 옵션

		        callbacks: {
		            onImageUpload: function (files) {
		                    saveSummernoteImg(files[0], this);
		            },
		        },
		    });
		});

		//서머노트 이미지
		function saveSummernoteImg(file, editor) {
			data = new FormData();
			data.append("file", file);
			//console.log(file);
			
			$.ajax({
				data : data,
				type : "POST",
				url : '/api/board/saveSummernoteImg',
				contentType : false,
				processData : false,
				success : function(data) {
					$(editor).summernote('insertImage', data.url);
				},				
				error: function (xhr, status, error) {
					console.error('Error:', error);
					alert("서버 오류가 발생했습니다. 나중에 다시 시도해주세요.");
				}
			});
		}
		
		//게시글 저장
		function saveBoard() {
			
		  let frm = $('#writeFrm');
	      let formData = new FormData(frm.get(0));
	
	      // FormData를 일반 객체로 변환
	      let data = {};
	      formData.forEach((value, key) => {
	          data[key] = value;
	      });
		  //console.log(data)
		  
		  $.ajax({
		      url: '/api/board/save', 
		      type: 'POST',
		      contentType: 'application/json', 
		      dataType: 'json', 
		      data: JSON.stringify(data),
		      success: function(response) {
				  if (response.status === 'success') {
		              location.href = "/board/list";
		          } 
		      },
		      error: function(xhr, status, error) {
		          console.error('Error:', error); 
				  alert("서버 오류가 발생했습니다. 나중에 다시 시도해주세요.");
		      }
		  });
		}
	</script>
</body>
<!-- 푸터 인클루드 -->
<footer th:replace="common/footer"></footer>

</html>