<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{../css/select2.min.css}">
	<link rel="stylesheet" th:href="@{../css/adminlte.min.css}">
	<link rel="stylesheet" th:href="@{../css/jsgrid.min.css}">
	<link rel="stylesheet" th:href="@{../css/all.min.css}">
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" th:href="@{../css/summernote-bs4.min.css}"> 메뉴바 한글깨짐 이슈 -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
	<script type="text/javascript" th:src="@{../js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/jsgrid.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/select2.full.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{../js/summernote-bs4.min.js}"></script>
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="/"><b>BONG</b>BOARD</a>
		</div>
		<!-- /.login-logo -->
		<div class="card">
			<div class="card-body login-card-body">

				<form id="frm">
					<div class="input-group mb-3">
						<input type="text" class="form-control" id="memberName" name="memberName" placeholder="성함">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="email" class="form-control" id="email" name="email" placeholder="이메일">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="text" class="form-control" id="memberId" name="memberId" placeholder="아이디">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					<div class="input-group mb-3">
						<input type="password" class="form-control" id="password" name="password" placeholder="패스워드">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-lock"></span>
							</div>
						</div>
					</div>
	
					<div class="row d-flex justify-content-between">
						<div class="col">
							<button type="button" id="signupButton" class="btn btn-outline-primary">회원가입</button>
						</div>
					</div>
				</form>
			</div>
			<!-- /.login-card-body -->
		</div>
	</div>
	<!-- /.login-box -->
	
	<script>
		$('#signupButton').on('click', function () {
			if (!validateForm()) {
				return false;
			}

			save();
		});

		function validateForm() {
			if ($('#memberName').val() === "") {
				alert("성함이 입력되지 않았습니다.");
				return false;
			}

			if ($('#email').val() === "") {
				alert("이메일이 입력되지 않았습니다.");
				return false;
			}

			if ($('#memberId').val() === "") {
				alert("아이디가 입력되지 않았습니다.");
				return false;
			}

			if ($('#password').val() === "") {
				alert("비밀번호가 입력되지 않았습니다.");
				return false;
			}

			return true;
		}

		function save() {
			let data = {
				memberNm: $('#memberName').val(),
				email: $('#email').val(),
				memberId: $('#memberId').val(),
				password: $('#password').val()
			};


			$.ajax({
				url: '/api/member/signup',
				type: 'POST',
				contentType: 'application/json',  // 전송 데이터 형식
				dataType: 'json',  // 응답 데이터 형식
				data: JSON.stringify(data),  // JSON 형식으로 데이터 변환
				success: function (response) {
					alert(response.message);
					if (response.status === 'success') {
						location.href = "/";
					}
				},
				error: function (xhr, status, error) {
					console.error('Error:', error);
					alert("서버 오류가 발생했습니다. 나중에 다시 시도해주세요.");
				}
			});

		}
	</script>

</body>
</html>